apiVersion: apps/v1
kind: Deployment
metadata:
  name: unleash
spec:
  replicas: 1
  selector:
    matchLabels:
      app: unleash
  template:
    metadata:
      labels:
        app: unleash
    spec:
      containers:
      - name: unleash
        image: unleashorg/unleash-server:4.6.0
        env:
        - name: DATABASE_URL
          value: "postgres://postgres:password@postgres:5432/postgres"
        - name: DATABASE_SSL
          value: "false"
        ports:
        - containerPort: 4242
---
apiVersion: v1
kind: Service
metadata:
  name: unleash
spec:
  selector:
    app: unleash
  ports:
    - port: 4242
      targetPort: 4242
